SECRET_KEY=coloca-aqui-una-clave-secreta-larga-y-aleatoria
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=voting_db
DB_USER=tu_usuario_postgres
DB_PASSWORD=tu_password_postgres
DB_HOST=localhost        # En Docker usar: db
DB_PORT=5432

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=tu_correo@ejemplo.com
EMAIL_HOST_PASSWORD=tu_api_key_brevo
DEFAULT_FROM_EMAIL=tu_correo@ejemplo.com
