SECRET_KEY=django-insecure-tu_clave_secreta_aqui
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=voting_db
DB_USER=tu_usuario_postgres
DB_PASSWORD=tu_password_postgres
DB_HOST=localhost
DB_PORT=5432
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=tucorreo@gmail.com
EMAIL_HOST_PASSWORD=tu_app_password